.mainCard-body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 20px;
    width: 18rem;
    background-color: whitesmoke;
    border-radius: 5%;
}

.mainCard-head {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.mainCard-title {
    width: 70%;
}

.mainCard-actual{
    display: flex;
    justify-content: space-around;
}

.mainCard-proyectado{
    display: flex;
    justify-content: space-around;
}

