.mainCity {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    flex-direction: row;
  }

.mainCityCard {
display: flex;
width: 33%;
height: 100%;
justify-content: center;
flex-direction: row;
}

.mainCityNews {
  display: flex;
  width: 34%;
  height: 100%;
  justify-content: center;
  flex-direction: column;
  background-color: blueviolet;
  }

.mainCityMap {
    display: flex;
    width: 33%;
    height: 100%;
    justify-content: center;
    flex-direction: row;
}